<div class="wrapper">

    <div class="nav">
        ☼ Find-A-Hack
    </div>

    <div class="featured-hacks">

        <h1>
            Featureds Hacks
        </h1>

        <div class="scroller">

            <a href="#">
                <div class="image-box" id="img1"></div>
            </a>

            <a href="#">
                <div class="image-box" id="img2"></div>
            </a>

            <a href="#">
                <div class="image-box" id="img3"></div>
            </a>

            <a href="#">
                <div class="image-box" id="img4"></div>
            </a>

        </div>

        <form method="get" action="/search" id="searchbox5">
            <input id="search52" name="q" type="text" size="40" placeholder="Search-A-Hack..." style="text-align: center"/>
        </form>

    </div>

    <!-- next section -->

    <div class="hackathon-wrapper">

        <div id="hack-container" class="hackathon-display">

            <div class="hackathons-view" onClick="getHackathons()">

                <div id="name">
                    Hack-Cooper
                </div>

                <div id="date">
                    <p id="month-day-year">September 25, 2016</p>
                </div>

                <div id="location">
                    <p>The Cooper Union</p>
                </div>

                <div id="popularity">

                    <p id="icon">★</p>
                    <p>
                        100
                    </p>

                </div>

            </div>
        </div>

    </div>

    <!-- script section -->
    <script>

        var viewTitles = ["name", "date", "location", "popularity", "icon"];

        //Create array of options to be added
        var hacks = 3;

        //
        //for (var i = 0; i < viewTitles.length; i++) {          var newDiv = document.createElement('div');        myDiv.appendChild(para);  }
    </script>

</div>
