<div class="wrapper">

    <div class="nav">
        ☼ Find-A-Hack
    </div>

    <div class="featured-hacks">

        <h1>
            Featureds Hacks
        </h1>

        <div class="scroller">

            <a href="#">
                <div class="image-box" id="img1"></div>
            </a>

            <a href="#">
                <div class="image-box" id="img2"></div>
            </a>

            <a href="#">
                <div class="image-box" id="img3"></div>
            </a>

            <a href="#">
                <div class="image-box" id="img4"></div>
            </a>

        </div>

        <form method="get" action="/search" id="searchbox5">
            <input name="q" type="text" size="40" placeholder="Search-A-Hack..." style="text-align: center"/>
        </form>

    </div>

    <!-- next section -->

    <div class="hackathon-wrapper">

        <div id="hack-container" class="hackathon-display">

            <!--
            <div class="hackathons-view" onClick="getHackathons()">

                <div id="name">
                    Hack-Cooper
                </div>

                <div id="date">
                    <p id="month-day-year">September 25, 2016</p>
                </div>

                <div id="location">
                    <p>The Cooper Union</p>
                </div>

                <div id="popularity">

                    <p id="icon">★</p>
                    <p>
                        100
                    </p>

                </div>
               -->

        </div>
    </div>

</div>

<div id="startLat">
    <p></p>
</div>

<div id="startLon">
    <p></p>
</div>
<!-- script section -->
<!--   <script>

        window.onload = function () {
            var startPos;
            var geoSuccess = function (position) {
                startPos = position;
                document.getElementById('startLat').innerHTML = startPos.coords.latitude;
                document.getElementById('startLon').innerHTML = startPos.coords.longitude;
            };
            var geoError = function (error) {
                console.log('Error occurred. Error code: ' + error.code);
                // error.code can be:   0: unknown error   1: permission denied   2: position unavailable (error response from location provider)   3: timed out
            };
            navigator.geolocation.getCurrentPosition(geoSuccess, geoError);
        };
    </script>-->

<script></script>

</div>
